<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="commodity,iterStat:${session.commodityList}">
    <p>
        <span>商品名:</span><a class="card-text" th:href="@{'../commodity/detail?commodityId='+${commodity.commodityId}}" th:text="${commodity.commodityName}">这里是商品名</a>
    </p>
    <p>
        <span>商品价格:</span><span class="card-text" th:text="${commodity.commodityPrice}">这里是商品价格</span>
    </p>
    <p>
        <span>上架日期:</span><span class="card-text" th:text="${commodity.commodityTime}">这里是商品上架日期</span>
    </p>
    <p>
        <span>截止日期:</span><span class="card-text" th:text="${commodity.commodityDeadline}">这里是商品截止日期</span>
    </p>
    <br>
</div>

</body>
</html>