
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>

    <!--<script type="text/javascript" th:src="@{js/jquery.min.js}" src="" ></script>-->
    <!-- Bootstrap core CSS -->
    <link href="./Album example for Bootstrap_files/bootstrap.min.css" th:href="@{webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/floating-labels.css" th:href="@{css/floating-labels.css}" rel="stylesheet">
    <!--<link href="../static/css/album.css" th:href="@{css/album.css}" rel="stylesheet">-->



    <script type="text/javascript">

        function checkall(){
            var res = true;
            var usrTel = document.getElementById('inputPhoneNumber');
            var pattern= /^1\d{10}$/;
            if(!pattern.test(usrTel.value))
            {
                alert('请输入有效的手机号码，需是11位并且以1开头！');
                usrTel.value = "";
                res = false;
            }
            var p1 = document.getElementById('inputPassword');
            var pattern = /^\w{6,12}$/; //密码要在6-12位
            if(!pattern.test(p1.value)){
                alert("密码不合规范,请输入6-12位密码");
                p1.value = "";
                res = false;

            }
            var p2 = document.getElementById('checkPassword');
            if(p1.value != p2.value){
                alert("请保持输入的密码符合规范一致");
                p2.value = "";
                res = false;

            }
            if(res){
                //document.forms[0].action = "user/register.action";
                // document.forms[0].submit();
                var form = document.getElementById("myInformationForm");
                form.submit();
            }

        }
    </script>



</head>
<!--<div>-->


    <!--<script>-->
        <!--$(document).click(function() {-->
            <!--$('.nav-list').removeClass('open')-->
        <!--})-->
        <!--$('.nav-menu,.nav-list').click(function(e) {-->
            <!--e.stopPropagation()-->
        <!--})-->
        <!--$('nav').find('.nav-menu').click(function(e) {-->
            <!--$('.nav-list').toggleClass('open')-->
        <!--})-->
    <!--</script>-->
<!--</div>-->

<body>
<form id="myInformationForm" class="form-signin" action="/updateUser" method="post">
    <div class="text-center mb-4">
        <!--<h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>-->
        <p>欢迎来到校内信息公开平台

        </p>
    </div>
    <div class="form-label-group">
        <input  type="text" id="inputName" name="userName" class="form-control" th:value="${session.user.getUserName()}" required="" autofocus="">
        <label for="inputName">姓名</label>
    </div>
    <div class="form-label-group">
        <input type="number" id="inputStudentId" name="userStudentId" class="form-control" readonly="true"  th:value="${session.user.getUserStudentId()}" required="" autofocus="">
        <label for="inputStudentId">学号</label>
    </div>

    <div class="form-label-group">
        <input type="number" id="inputPhoneNumber" name="userPhoneNumber" class="form-control" th:value="${session.user.getUserPhoneNumber()}" required="" autofocus="">
        <label for="inputStudentId">手机号</label>
    </div>
    <div class="form-label-group">
        <input type="password" id="inputPassword" name="userPassword" class="form-control" th:value="${session.user.getUserPassword()}" required="" onfocus="" onblur="">
        <label for="inputPassword">密码</label>
    </div>
    <div class="form-label-group">
        <input type="password" id="checkPassword"  class="form-control" th:value="${session.user.getUserPassword()}" required="">
        <label for="checkPassword">确认密码</label>
    </div>


    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="checkall()">确认修改</button>
    <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
</form>

</body>
</html>