<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <title>二手交易信息平台</title>

    <!-- Bootstrap core CSS -->
    <link href="./Floating labels example for Bootstrap_files/bootstrap.min.css" th:href="@{webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/floating-labels.css" th:href="@{css/floating-labels.css}" rel="stylesheet">
  </head>

  <body>
    <form class="form-signin" action="/register/try" method="post">
      <div class="text-center mb-4">
        <img class="mb-4" src="./Floating labels example for Bootstrap_files/bootstrap-solid.svg" th:src="@{image/bootstrap-solid.svg}" alt="" width="72" height="72">
        <!--<h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>-->
        <p>欢迎来到校内信息公开平台

        </p>
      </div>
      <div class="form-label-group">
            <input type="text" id="inputName" name="userName" class="form-control" placeholder="Name" required="" autofocus="">
            <label for="inputName">姓名</label>
      </div>
      <div class="form-label-group">
        <input type="number" id="inputStudentId" name="userStudentId" class="form-control" placeholder="Number" required="" autofocus="">
        <label for="inputStudentId">学号</label>
      </div>

        <div class="form-label-group">
            <input type="number" id="inputPhoneNumber" name="userPhoneNumber" class="form-control" placeholder="Number" required="" autofocus="">
            <label for="inputPhoneNumber">手机号</label>
        </div>
        <div class="form-label-group">
          <input type="password" id="inputPassword" name="userPassword" class="form-control" placeholder="Password" required="">
          <label for="inputPassword">密码</label>
      </div>
        <div class="form-label-group">
            <input type="password" id="checkPassword"  class="form-control" placeholder="Password" required="">
            <label for="checkPassword">确认密码</label>
        </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
      <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
    </form>
  

</body></html>