<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/updateMyCommodity/try" method="post">

    <p>
        <span>商品名:</span><input class="card-text" name="commodityId" th:value="${session.commodity.commodityId}" readonly="true"></input>
    </p>

    <p>
        <span>商品名:</span><input class="card-text" name="commodityName" th:value="${session.commodity.commodityName}"></input>
    </p>

    <p>
        <span>商品价格:</span><input class="card-text" name="commodityPrice" th:value="${session.commodity.commodityPrice}"></input>
    </p>
    <!--<p>-->
        <!--<span>上架日期:</span><input class="card-text" name="commodityTime" th:value="${session.commodity.commodityTime}"></input>-->
    <!--</p>-->
    <!--<p>-->
        <!--<span>截止日期:</span><input class="card-text" name="commodityDeadline" th:value="${session.commodity.commodityDeadline}"></input>-->
    <!--</p>-->
    <p>
        <span>联系方式:</span><input class="card-text" name="contactWay" th:value="${session.commodity.contactWay}"></input>
    </p>
    <div>
        <label for="fave" class="form-control">商品类别:
            <select id="fave"name="commodityKind">
                <option value="1" label="书">书</option>
                <option value="2" label="服装">服装</option>
                <option value="3" label="电子设备">电子设备</option>
                <option value="4" label="虚拟商品">虚拟商品</option>
                <option value="5" label="美妆个护">美妆个护</option>
                <option value="6" selected label="其他">其他</option>
            </select>
        </label>
    </div>
    <!--<p>-->
        <!--<span>售卖人ID:</span><input class="card-text" name="userId" th:value="${session.commodity.userId}"></input>-->
    <!--</p>-->
    <p>
        <span>详细描述:</span><input class="card-text" name="commodityDetail" th:value="${session.commodity.commodityDetail}"></input>
    </p>
    <p>
        <button class="card-text"  type="submit">修改</button>
    </p>
</form>
</body>
</html>