<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
</head>
<body>
    <p>
        <span>姓名:</span><span class="card-text"  th:text="${session.otherUser.userName}">这里是姓名</span>
    </p>
    <p>
        <span>学号:</span><span class="card-text"  th:text="${session.otherUser.userStudentId}">这里是商品名</span>
    </p>
    <p>
        <span>用户手机号:</span><span class="card-text" th:text="${session.otherUser.userPhoneNumber}">这里是商品价格</span>
    </p>

</body>
</html>